:root {
    --tile-size: 100px;
    --light-tile: #F0D8Bf;
    --dark-tile: #B48764;
    --bg-color: #202020;   
}

@media all and (max-width: 480px) {
    :root {
        --tile-size: 50px;
    }
}
